@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables'as *;

.header {
    display: flex;
    flex-direction: column;
    // padding: 0 1rem;
    padding: 1rem;
    width: 100%;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        // width: 100%;

        @include tablet {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            // width: 100%;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__main-image-wrapper {
        align-self: center;

        @include tablet {
            flex-direction: row;
            margin-right: auto;
            display: flex;
        }
    }

    &__image {
        background-image: cover;
        max-height: 1.5625rem;
        max-width: 7.5rem;
        // align-self: flex-end;

        @include tablet {
            // align-content: flex-start;
            // max-width: 3.125rem;
            align-self: flex-start;
        }
    
    }

    &__avatar-search-wrapp {
        // padding-top: 1rem;
        width: 100%;
        display: flex;
        // flex-direction: row-reverse;
        // gap: 1rem;
        // width: auto;
        // margin: 0;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // flex-flow: row wrap;
        // justify-content: space-around;
        // flex-flow: row wrap;
        
        flex-direction: row-reverse;
        // align-items: stretch;
        gap: 16px;

        @include tablet {
            display: none;
        }
    }

    &__avatar-tablet {

        display: none;

        @include tablet {
            display: flex;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            object-position: 20% 50%;
            // margin-left: auto;
            // position: absolute;
            margin-top: 1rem;
            order: 5;

        }

    }

    &__search-tablet {

        display: none;

        @include tablet {
            display: flex;
            padding: 1rem;
            background-image: url(../../icons/search.svg);
            background-repeat: no-repeat;
            background-position: center left;
            font-size: .75rem;
            line-height: 1.25rem;
            font-weight: 700;
            margin-top: 1rem;
            width: 40%;

        }

    }

    &__avatar-wrapper {
        padding-top: 1rem;
        display: flex;
        flex-grow: 1;
        // display: hidden;
        // padding-top: 1rem;
        // position: relative;


        @include tablet {
            display: flex;
            margin-bottom: 1rem;
            order: 5;
        }
    }

    &__avatar-1 {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 20% 50%;
        // margin-left: auto;
        // position: absolute;
        margin-top: 1rem;

        @include tablet {
            position: relative;
            display: flex;
        }
    }

    &__search-wrapper {
        // display: hidden;
        // align-self: inherit;
        // flex-basis: content;
        display: flex;
        // width: 6.25rem;
        // margin-right: 1rem;
        margin-right: 0;
        padding-right: 0;
        width: 100%;
        flex-grow: 2;

        @include tablet {
            display: flex;
            // display: flex;
            // order: 2;
        }
    }

    &__search {
        width: 100%;
        // margin-right: 1rem;
        padding: 1rem;
        background-image: url(../../icons/search.svg);
        background-repeat: no-repeat;
        background-position: center left;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        margin-top: 1rem;
        // display: flex;
        // flex-grow: 2;
        // width: 36.5rem;
        // flex-grow: 3;
        // margin-right: 0;
        // padding-right: 0;
        // padding-right: 3.125rem;
        // padding-left: 3.125rem;
        // padding-right: 1rem;
        // background-position: 1%;
        // margin-left: 4rem;
        // overflow: none;
        // align-self: flex-end;
        // flex-basis: content;
        // width: auto;
        // margin-right: auto;


        @include tablet {
            width: 10rem;
            height: .625rem;
            // display: flex;
            // order: 2;
            // margin-top: 0;
            // order: 1;
            // height: 2.5rem;
            // padding-bottom: 0;
        }
    }

    &__btn-wrapper {
        // display: flex;
        // flex-direction: column;


        @include tablet {
            // order: 1;
            // padding-bottom: 1rem;
            // flex-grow: 2;
            // width: 40%;
            // height: 2.5rem;
            // margin-bottom: 1rem;
        }
    }

    &__btn-up {
        height: 2.5rem;
        background-color: #0095FF;
        background-image: url(../../../src/icons/upload.svg);
        background-repeat: no-repeat;
        background-position: center left;
        border-radius: .3125rem;
        color: #FFFF;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        background-position: 1%;
        margin-top: 1rem;
        width: 100%;
        // align-self: flex-end;
        // flex-basis: 200px;

        @include tablet {
            width: 12.5rem;
            margin-right: 1rem;
            margin-top: 0;
            margin-top: 1rem;
            margin-left: 1rem;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            // width: 30%;
            height: 3.5rem;
            // height: 100%;
            // flex-grow: 2;
            
        }
    }
    
}   

    @include tablet {

    // .flex-item:nth-of-type(1) { order: 1; }
    .flex-item:nth-of-type(2) { order: 4; }
    .flex-item:nth-of-type(3) { order: 2; }
    .flex-item:nth-of-type(4) { order: 0; }
}

.flex-container {
    display: flex;
}

// .flex-item {

//     @include tablet {

//         .flex-item:nth-of-type(1) { order: 1; }
//         .flex-item:nth-of-type(2) { order: 4; }
//         .flex-item:nth-of-type(3) { order: 2; }
//         .flex-item:nth-of-type(4) { order: 3; }
//     }
// }



        // &__avatar__wrapper {
        //     padding-top: 1rem;
        //     display: flex;
        //     // margin-right: 1rem;

        //     @include tablet {
        //         order: 5;
        //     }
        // }
