@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables'as *;

.header {
    // padding: 1rem;
    // padding-right: 1rem;
    // width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    // box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    

    @include tablet {
        display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        align-items: center;
        // width: 100%;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;

        @include tablet {
            // width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            // width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

    }

    &__main-image-wrapper {
        display: flex;
        width: 100%;

        @include tablet {
            flex-direction: row;
            margin-right: auto;
            width: 40%;
        }
    }

    &__image {
        background-image: cover;
        max-height: 1.5625rem;
        max-width: 7.5rem;
        align-self: center;

        @include tablet {
            // align-content: flex-start;
            // max-width: 3.125rem;
            align-self: flex-start;
        }
    
    }

    &__search-avatar-wrapper{
        display: flex;
        padding-top: 1rem;
        gap: 1rem;
        justify-content: space-between;
        // margin-left: auto;
        // margin-right: 0;
        // align-content: space-between;
        // margin: 0;
        // justify-content: space-between;
        // width: 100%;
        // gap: 1rem;
        // margin-left: 0;
        // box-sizing: border-box;
        // padding-left: 1rem;
        // padding: 0;
        flex-grow: 1;
        // margin: auto;
        // flex-direction: column;

        @include tablet {
            display: none;
        }
    }

    &__avatar-wrapper {
        // width: 20%;
        // padding-top: 1rem;
        // display: flex;
        // position: relative;
        // display: flex;
        // flex-grow: 1;
        margin-left: 0;
        // justify-content: flex-end;
        margin-right: 0;
        width: 60px;
        height: 60px;
        flex-grow: 1;


        // @include tablet {
        //     display: flex;
        //     margin-bottom: 1rem;
        // }
    }

    &__avatar-1 {
        // flex-grow: 3;
        // flex-grow: 1;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 20% 50%;
        // margin-left: 0;
        // margin-right: 0;
        // position: absolute;

        // @include tablet {
        //     position: relative;
        //     display: flex;
        // }
    }

    &__avatar-3 {
        @include tablet {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 20% 50%;
        // display: flex;
        visibility: visible;
        }
    }

    &__search-wrapper {
        // width: 29rem;
        display: flex;
        // width: 20rem;
        width: 100%;
        // margin-left: 0;
        // margin-right: 0;
        // align-self: inherit;
        // flex-basis: content;
        // display: flex;
        // flex-grow: 8;
        // width: 12.5rem;
        // flex: 0 1 auto;
        // width: 12.5rem;
        overflow: none;
        flex-grow: 5;

        @include tablet {
            display: flex;
        }
    }

    &__search-wrapper-2 {
        display: none;
        visibility: hidden;

        @include tablet {
            display: flex;
            visibility:visible;
        }
    }

    &__avatar-wrapper-2{
        display: none;
        visibility: hidden;

        @include tablet {
            display: flex;
            visibility: visible;
            // margin-left: 0;
            // justify-content: flex-end;
            // margin-right: 0;
            // width: 60px;
            // height: 60px;
            // flex-grow: 1;
        }
    }

    &__search {
        // flex-grow: 2;
        width: 36rem;
        // width: 25rem;
        // margin-right: 1rem;
        padding: 1rem;
        background-image: url(../../icons/search.svg);
        background-repeat: no-repeat;
        background-position: left center;
        // font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        background-position: 1%;
        // padding-right: 10rem;
        // padding-left: 20rem;
        // padding-right: 10rem;
        overflow: none;
        // align-self: flex-end;
        // flex-basis: content;
        display: flex;
        flex-grow: 5;

        @include tablet {
            width: 10rem;
            height: .625rem;
            // margin-top: 0;
            // order: 1;
            // height: 2.5rem;
            // padding-bottom: 0;
        }
    }

    &__search-2 {
        // flex-grow: 2;
        // width: 20rem;
        // width: 25rem;
        // margin-right: 1rem;
        padding: 1rem;
        background-image: url(../../icons/search.svg);
        background-repeat: no-repeat;
        background-position: left center;
        // font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        background-position: 1%;
        // padding-right: 10rem;
        // padding-left: 20rem;
        // padding-right: 10rem;
        overflow: none;
        // align-self: flex-end;
        // flex-basis: content;
        display: flex;
        flex-grow: 5;
        visibility: hidden;
        display: none;

        @include tablet {
            display: flex;
            width: 10rem;
            height: 3rem;
            visibility: visible;
            // margin-top: 0;
            // order: 1;
            // height: 2.5rem;
            // padding-bottom: 0;
        }
    }

    &__btn-wrapper {
        // display: flex;
        // flex-direction: column;


        @include tablet {
            // order: 1;
            // padding-bottom: 1rem;
            // flex-grow: 2;
            width: 100%;
            // height: 2.5rem;
            // margin-bottom: 1rem;
        }
    }

    &__btn-up {
        height: 2.5rem;
        background-color: #0095FF;
        background-image: url(../../../src/icons/upload.svg);
        background-repeat: no-repeat;
        background-position: center left;
        border-radius: .3125rem;
        color: #FFFF;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        background-position: 1%;
        margin-top: 1rem;
        width: 100%;
        // align-self: flex-end;
        // flex-basis: 200px;

        @include tablet {
            width: 12.5rem;
            margin-right: 1rem;
            margin-top: 0;
            height: 3rem;
            // height: 2.5rem;
            // flex-grow: 2;
            
        }
    }
    
} 

    @include tablet {

    .flex-item:nth-of-type(1) { order: 2; }
    .flex-item:nth-of-type(2) { order: 2; }
    .flex-item:nth-of-type(3) { order: 6; }
    .flex-item:nth-of-type(4) { order: 2; }
}






        // &__avatar__wrapper {
        //     padding-top: 1rem;
        //     display: flex;
        //     // margin-right: 1rem;

        //     @include tablet {
        //         order: 5;
        //     }
        // }
