@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables'as *;

.video {
    

    &__item{
        list-style: none;
        
    }
    
    &__image {
        padding-left: 0;
        padding-right: 0;

    }
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__info-wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__text-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        
    }

    &__views{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;

    }

    &__likes{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    &__icons-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__form {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 16px;
        // flex-direction: column;

    }

    &__form-wrapper2{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    &__form-input {
        height: 12.5rem;
    }

    &__comment-btn {
        height: 2.5rem;
        background-color: #0095FF;
        background-image: url(../../../src/icons/add_comment.svg);
        background-repeat: no-repeat;
        background-position: center left;
        border-radius: .3125rem;
        color: #FFFF;
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        background-position: 1%;
        width: 100%;
    }

    
}