@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.video-flex{
    display: flex;
    flex-direction: column;

    @include tablet {
    display: flex;
    flex-direction: row;
    }
}

.video-details {

    @include tablet {
    width: 75%;
    }
}

// video list
.video {

    @include tablet {
    width: 25%;
    }
}