@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.video-flex {
    // display: flex;
    // flex-direction: column;
    // width: 100%;

    @include desktop {
        padding-right: 1rem;
        display: flex;
        gap: 1rem;
    }
}

.video-details {

    @include desktop {
        width: 75%;
    }
}

// video list
.video {

    @include desktop {
        width: 25%;
        // align-items: center;
    }
}