@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables'as *;

.video {

    padding-left: 1rem;

    &__header{

    }

    &__list {
        padding-inline-start: 0;

        
    }

    &__list-item{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding-top: 1rem;
    }

    &__list-wrapper-1 {
        display: flex;
    }

    &__list-image {
        border-radius: .25rem;
        object-fit: cover;
        width: 250px;
        height: 150px;
    }

    &__list-wrapper2{
        display: flex;
        flex-direction: column;
    }

    &__list-title {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 700;

    }

    &__list-channel {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;

    }


}