@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.video-flex{
    display: flex;
}

.video-details {
    width: 75%;
}

// video list
.video {
    width: 25%;
}